.vscode/arduino.json
.vscode/c_cpp_properties.json
firmware/output/build.options.json
firmware/output/firmware.ino.eep
firmware/output/firmware.ino.elf
firmware/output/firmware.ino.hex
firmware/output/firmware.ino.with_bootloader.bin
firmware/output/firmware.ino.with_bootloader.hex
firmware/output/includes.cache
firmware/output/core/abi.cpp.d
firmware/output/core/abi.cpp.o
firmware/output/core/CDC.cpp.d
firmware/output/core/CDC.cpp.o
firmware/output/core/core.a
firmware/output/core/HardwareSerial.cpp.d
firmware/output/core/HardwareSerial.cpp.o
firmware/output/core/HardwareSerial0.cpp.d
firmware/output/core/HardwareSerial0.cpp.o
firmware/output/core/HardwareSerial1.cpp.d
firmware/output/core/HardwareSerial1.cpp.o
firmware/output/core/HardwareSerial2.cpp.d
firmware/output/core/HardwareSerial2.cpp.o
firmware/output/core/HardwareSerial3.cpp.d
firmware/output/core/HardwareSerial3.cpp.o
firmware/output/core/hooks.c.d
firmware/output/core/hooks.c.o
firmware/output/core/IPAddress.cpp.d
firmware/output/core/IPAddress.cpp.o
firmware/output/core/main.cpp.d
firmware/output/core/main.cpp.o
firmware/output/core/new.cpp.d
firmware/output/core/new.cpp.o
firmware/output/core/PluggableUSB.cpp.d
firmware/output/core/PluggableUSB.cpp.o
firmware/output/core/Print.cpp.d
firmware/output/core/Print.cpp.o
firmware/output/core/Stream.cpp.d
firmware/output/core/Stream.cpp.o
firmware/output/core/Tone.cpp.d
firmware/output/core/Tone.cpp.o
firmware/output/core/USBCore.cpp.d
firmware/output/core/USBCore.cpp.o
firmware/output/core/WInterrupts.c.d
firmware/output/core/WInterrupts.c.o
firmware/output/core/wiring_analog.c.d
firmware/output/core/wiring_analog.c.o
firmware/output/core/wiring_digital.c.d
firmware/output/core/wiring_digital.c.o
firmware/output/core/wiring_pulse.c.d
firmware/output/core/wiring_pulse.c.o
firmware/output/core/wiring_pulse.S.d
firmware/output/core/wiring_pulse.S.o
firmware/output/core/wiring_shift.c.d
firmware/output/core/wiring_shift.c.o
firmware/output/core/wiring.c.d
firmware/output/core/wiring.c.o
firmware/output/core/WMath.cpp.d
firmware/output/core/WMath.cpp.o
firmware/output/core/WString.cpp.d
firmware/output/core/WString.cpp.o
firmware/output/libraries/AccelStepper/AccelStepper.cpp.d
firmware/output/libraries/AccelStepper/AccelStepper.cpp.o
firmware/output/libraries/AccelStepper/MultiStepper.cpp.d
firmware/output/libraries/AccelStepper/MultiStepper.cpp.o
firmware/output/libraries/Servo/avr/Servo.cpp.d
firmware/output/libraries/Servo/avr/Servo.cpp.o
firmware/output/libraries/Servo/mbed/Servo.cpp.d
firmware/output/libraries/Servo/mbed/Servo.cpp.o
firmware/output/libraries/Servo/megaavr/Servo.cpp.d
firmware/output/libraries/Servo/megaavr/Servo.cpp.o
firmware/output/libraries/Servo/nrf52/Servo.cpp.d
firmware/output/libraries/Servo/nrf52/Servo.cpp.o
firmware/output/libraries/Servo/sam/Servo.cpp.d
firmware/output/libraries/Servo/sam/Servo.cpp.o
firmware/output/libraries/Servo/samd/Servo.cpp.d
firmware/output/libraries/Servo/samd/Servo.cpp.o
firmware/output/libraries/Servo/stm32f4/Servo.cpp.d
firmware/output/libraries/Servo/stm32f4/Servo.cpp.o
firmware/output/preproc/ctags_target_for_gcc_minus_e.cpp
firmware/output/sketch/definitions.h
firmware/output/sketch/firmware.ino.cpp
firmware/output/sketch/firmware.ino.cpp.d
firmware/output/sketch/firmware.ino.cpp.o
