Software/Firmware/output/build.options.json
Software/Firmware/output/Firmware.ino.eep
Software/Firmware/output/Firmware.ino.elf
Software/Firmware/output/Firmware.ino.hex
Software/Firmware/output/Firmware.ino.with_bootloader.bin
Software/Firmware/output/Firmware.ino.with_bootloader.hex
Software/Firmware/output/includes.cache
Software/Firmware/output/core/abi.cpp.d
Software/Firmware/output/core/abi.cpp.o
Software/Firmware/output/core/CDC.cpp.d
Software/Firmware/output/core/CDC.cpp.o
Software/Firmware/output/core/core.a
Software/Firmware/output/core/HardwareSerial.cpp.d
Software/Firmware/output/core/HardwareSerial.cpp.o
Software/Firmware/output/core/HardwareSerial0.cpp.d
Software/Firmware/output/core/HardwareSerial0.cpp.o
Software/Firmware/output/core/HardwareSerial1.cpp.d
Software/Firmware/output/core/HardwareSerial1.cpp.o
Software/Firmware/output/core/HardwareSerial2.cpp.d
Software/Firmware/output/core/HardwareSerial2.cpp.o
Software/Firmware/output/core/HardwareSerial3.cpp.d
Software/Firmware/output/core/HardwareSerial3.cpp.o
Software/Firmware/output/core/hooks.c.d
Software/Firmware/output/core/hooks.c.o
Software/Firmware/output/core/IPAddress.cpp.d
Software/Firmware/output/core/IPAddress.cpp.o
Software/Firmware/output/core/main.cpp.d
Software/Firmware/output/core/main.cpp.o
Software/Firmware/output/core/new.cpp.d
Software/Firmware/output/core/new.cpp.o
Software/Firmware/output/core/PluggableUSB.cpp.d
Software/Firmware/output/core/PluggableUSB.cpp.o
Software/Firmware/output/core/Print.cpp.d
Software/Firmware/output/core/Print.cpp.o
Software/Firmware/output/core/Stream.cpp.d
Software/Firmware/output/core/Stream.cpp.o
Software/Firmware/output/core/Tone.cpp.d
Software/Firmware/output/core/Tone.cpp.o
Software/Firmware/output/core/USBCore.cpp.d
Software/Firmware/output/core/USBCore.cpp.o
Software/Firmware/output/core/WInterrupts.c.d
Software/Firmware/output/core/WInterrupts.c.o
Software/Firmware/output/core/wiring_analog.c.d
Software/Firmware/output/core/wiring_analog.c.o
Software/Firmware/output/core/wiring_digital.c.d
Software/Firmware/output/core/wiring_digital.c.o
Software/Firmware/output/core/wiring_pulse.c.d
Software/Firmware/output/core/wiring_pulse.c.o
Software/Firmware/output/core/wiring_pulse.S.d
Software/Firmware/output/core/wiring_pulse.S.o
Software/Firmware/output/core/wiring_shift.c.d
Software/Firmware/output/core/wiring_shift.c.o
Software/Firmware/output/core/wiring.c.d
Software/Firmware/output/core/wiring.c.o
Software/Firmware/output/core/WMath.cpp.d
Software/Firmware/output/core/WMath.cpp.o
Software/Firmware/output/core/WString.cpp.d
Software/Firmware/output/core/WString.cpp.o
Software/Firmware/output/libraries/AccelStepper/AccelStepper.cpp.d
Software/Firmware/output/libraries/AccelStepper/AccelStepper.cpp.o
Software/Firmware/output/libraries/AccelStepper/MultiStepper.cpp.d
Software/Firmware/output/libraries/AccelStepper/MultiStepper.cpp.o
Software/Firmware/output/libraries/Servo/avr/Servo.cpp.d
Software/Firmware/output/libraries/Servo/avr/Servo.cpp.o
Software/Firmware/output/libraries/Servo/mbed/Servo.cpp.d
Software/Firmware/output/libraries/Servo/mbed/Servo.cpp.o
Software/Firmware/output/libraries/Servo/megaavr/Servo.cpp.d
Software/Firmware/output/libraries/Servo/megaavr/Servo.cpp.o
Software/Firmware/output/libraries/Servo/nrf52/Servo.cpp.d
Software/Firmware/output/libraries/Servo/nrf52/Servo.cpp.o
Software/Firmware/output/libraries/Servo/sam/Servo.cpp.d
Software/Firmware/output/libraries/Servo/sam/Servo.cpp.o
Software/Firmware/output/libraries/Servo/samd/Servo.cpp.d
Software/Firmware/output/libraries/Servo/samd/Servo.cpp.o
Software/Firmware/output/libraries/Servo/stm32f4/Servo.cpp.d
Software/Firmware/output/libraries/Servo/stm32f4/Servo.cpp.o
Software/Firmware/output/preproc/ctags_target_for_gcc_minus_e.cpp
Software/Firmware/output/sketch/Definitions.h
Software/Firmware/output/sketch/Firmware.ino.cpp
Software/Firmware/output/sketch/Firmware.ino.cpp.d
Software/Firmware/output/sketch/Firmware.ino.cpp.o
.vscode/arduino.json
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.settings/org.eclipse.jdt.core.prefs
Calculos de constantes.txt
TODO
Knowledge/SCARA/Calculos de constantes de proporción.md
Knowledge/SCARA/Untitled.md
Knowledge/SCARA/.obsidian/app.json
Knowledge/SCARA/.obsidian/appearance.json
Knowledge/SCARA/.obsidian/core-plugins.json
Knowledge/SCARA/.obsidian/hotkeys.json
Knowledge/SCARA/.obsidian/workspace.json
